@keyframes scroll {
    0% {

    }
    100% {
        transform: translate(-300%, 0)
    }
}

::selection {
   background: transparent;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
}

.box {
  background-color: yellow;
  height: 35vw;
  width: 35vw;
  margin: 20px auto;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.gleiz {
  font-size: 10vw;
  padding-top: 40%;
  animation-name: scroll;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  padding-left: 100%;
}

input:checked + .gleiz {
  animation-play-state: paused;
}

input {
  display: none;
}

label {
  font-size: 3vw;
  margin-top: 50px;
  display: block;
  background-color: white;
  width: max-content;
  height: 4vw;
  border: 2px solid black;
  padding: 4px;
}
