div {
  text-align: center;
  margin: 30vh auto;
  font-family: monospace;
  font-weight: bold;
  font-size: 50px;
  width: max-content;
  background-color: yellow;
  transition: background-color, color 1s linear;
}

body {
  background-color: black;
}

div:hover {
  background-color: black;
  color: white;
}
